In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df =  pd.read_csv("merged_stock_sentiment_data.csv")
df.tail()

,Adj Close,Close,High,Low,Open,Volume,Company,Date,Target,Score,Comments,Cleaned_Text,Sentiment,Sentiment_Score
12064,205.740005,205.740005,207.639999,205.050003,206.979996,28061600,Amazon,2024-11-27,1,0,23,im taking hard look spending got thinking amaz...,Positive,0.999907
12065,205.740005,205.740005,207.639999,205.050003,206.979996,28061600,Amazon,2024-11-27,1,31,307,please use thread discussion dont feel warrant...,Positive,0.999910
12066,207.889999,207.889999,208.199997,204.589996,205.830002,24892400,Amazon,2024-11-29,1,0,35,previously compared portfolio strategist inves...,Positive,0.999987
12067,237.330002,237.330002,237.809998,233.970001,234.809998,28481400,Apple,2024-11-29,0,0,2,hey anybody made purchase apple paid time chas...,Positive,0.998584
12068,237.330002,237.330002,237.809998,233.970001,234.809998,28481400,Apple,2024-11-29,0,0,2,disabled mobility impairment brain impairment ...,Positive,0.994461

In [3]:
# Drop rows where Cleaned_Text is empty, NaN, or only whitespace
df = df[df['Cleaned_Text'].notna()]  # Remove NaNs
df = df[df['Cleaned_Text'].str.strip() != '']  # Remove empty strings or whitespace

In [4]:
df.isna().sum()

Adj Close          0
Close              0
High               0
Low                0
Open               0
Volume             0
Company            0
Date               0
Target             0
Score              0
Comments           0
Cleaned_Text       0
Sentiment          0
Sentiment_Score    0
dtype: int64

In [5]:
sentiment_df = df[["Date", "Cleaned_Text","Sentiment","Sentiment_Score","Comments"]]
trade_df = df[["Date", "Sentiment","Sentiment_Score","Close","Adj Close", "Close","High","Low", "Open","Volume", "Company","Target","Comments"]]
sentiment_df.head()

,Date,Cleaned_Text,Sentiment,Sentiment_Score,Comments
0,2010-09-20,stock market game iphone ipad play,Positive,0.999895,0
1,2010-12-13,hussman warning awful time invest,Neutral,0.553402,5
2,2010-12-15,awful time invest reflection lost opportunity,Negative,0.982149,0
3,2011-02-24,amazon prime streaming disrupt netflix,Negative,0.977377,1
4,2011-09-12,personally im fan theyre already beatendown pr...,Negative,0.993987,16

In [6]:
trade_df.head()

,Date,Sentiment,Sentiment_Score,Close,Adj Close,Close,High,Low,Open,Volume,Company,Target,Comments
0,2010-09-20,Positive,0.999895,10.115357,8.532785,10.115357,10.135000,9.851786,9.860000,658677600,Apple,1,0
1,2010-12-13,Neutral,0.553402,8.712500,8.712500,8.712500,8.897000,8.686500,8.816500,84050000,Amazon,1,5
2,2010-12-15,Negative,0.982149,8.778500,8.778500,8.778500,8.950000,8.679500,8.686000,116210000,Amazon,1,0
3,2011-02-24,Negative,0.977377,8.887500,8.887500,8.887500,8.987500,8.728000,8.843000,93130000,Amazon,1,1
4,2011-09-12,Negative,0.993987,13.569286,11.446334,13.569286,13.602857,13.282143,13.321429,467832400,Apple,-1,16

In [7]:
trade_df["Target"].value_counts()

Target
-1    6400
 1    5513
 0       2
Name: count, dtype: int64