In [18]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df =  pd.read_csv("merged_stock_sentiment_data.csv")
df.tail()

,Adj Close,Close,High,Low,Open,Volume,Company,Date,Target,Score,Comments,Cleaned_Text,Sentiment,Sentiment_Score
12064,205.740005,205.740005,207.639999,205.050003,206.979996,28061600,Amazon,2024-11-27,1,0,23,im taking hard look spending got thinking amaz...,Positive,0.999907
12065,205.740005,205.740005,207.639999,205.050003,206.979996,28061600,Amazon,2024-11-27,1,31,307,please use thread discussion dont feel warrant...,Positive,0.999910
12066,207.889999,207.889999,208.199997,204.589996,205.830002,24892400,Amazon,2024-11-29,1,0,35,previously compared portfolio strategist inves...,Positive,0.999987
12067,237.330002,237.330002,237.809998,233.970001,234.809998,28481400,Apple,2024-11-29,0,0,2,hey anybody made purchase apple paid time chas...,Positive,0.998584
12068,237.330002,237.330002,237.809998,233.970001,234.809998,28481400,Apple,2024-11-29,0,0,2,disabled mobility impairment brain impairment ...,Positive,0.994461

In [19]:
# Drop rows where Cleaned_Text is empty, NaN, or only whitespace
df = df[df['Cleaned_Text'].notna()]  # Remove NaNs
df = df[df['Cleaned_Text'].str.strip() != '']  # Remove empty strings or whitespace

In [20]:
df.isna().sum()

Adj Close          0
Close              0
High               0
Low                0
Open               0
Volume             0
Company            0
Date               0
Target             0
Score              0
Comments           0
Cleaned_Text       0
Sentiment          0
Sentiment_Score    0
dtype: int64

In [ ]:
Trade_df = df[["Date", "Cleaned_Text","Sentiment",]]